html,
body {
  background-color: #0e1525;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 50vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quiz {
  width: 46vw;
  background-color: #1c2333;
  padding: 3vw;
  border-radius: 4vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  border-style: solid;
  border-color: orange;
  border-width: 0.2vw;
}

.quiz p {
  color: white;
  font-weight: bolder;
  font-size: 1.95vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.answer {
  background-color: rgb(225, 225, 225);
  width: 42vw;
  padding: 0.5vw;
  margin: 0.5vw;
  color: black;
  font-size: 1.7vw;
  font-family: Verdana;
  text-align: left;
  border-radius: 1vw;
}

.answer input[type="checkbox"] {
  margin-top: 0.675vw;
  margin-right: 0.5vw;
  transform: scale(2.5);
  float: right;
  cursor: pointer;
}

#timer {
  width: 19vw;
  height: 5.5vw;
  background-color: #0053a6;
  border-radius: 2vw;
  margin: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  border-color: orange;
  border-style: solid;
  border-width: 0.2vw;
}

#timer p {
  color: white;
  font-size: 3vw;
  font-family: Verdana;
}

.navigation_buttons {
  font-family: Verdana;
  font-size: 1.7vw;
  color: white;
  background-color: #0053a6;
  padding: 0.7vw;
  margin: 1vw;
  border-color: white;
  border-style: solid;
  border-width: 0.2vw;
}

.navigation_buttons:hover {
  background-color: #3279c0;
}

.prev {
  border-top-left-radius: 1.2vw;
  border-bottom-left-radius: 1.2vw;
  cursor: pointer;
}

.next {
  border-top-right-radius: 1.2vw;
  border-bottom-right-radius: 1.2vw;
  cursor: pointer;
}

.prev:hover {
  background-color: #3279c0;
}

.next:hover {
  background-color: #3279c0;
}