/* #region Question */
.question-container {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 40rem;
    gap: .75vw;
}

.quiz {
    background-color: #1c2333;
    padding: 1vw 2vw;
    border-radius: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0.2vw solid orange;
    color: white;
    font-size: 1rem;
}

.answer {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 0.5vw 1vw;
    margin: 0.8vw 0;
    font-size: 0.8rem;
    text-align: left;
    border-radius: 0.7vw;
}


.answer input[type="checkbox"] {
    cursor: pointer;
}
/* #endregion */


/* #region Navigation */
.navigation-container {
    display: flex;
    gap: .75vw;
}

.navigation-button {
    background-color: #0053a6;
    color: white;
    border: 1px solid white;
    padding: 8px;
    flex: 1;
}

.navigation-button:hover {
    background-color: #3279c0;
}

.prev {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    cursor: pointer;
}

.next {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    cursor: pointer;
}
/* #endregion */