.flashcard-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 40rem;
    gap: 4px;
}

.question {
    background-color: #1c2333;
    color: white;
    width: 100%;
    text-align: left;
    padding: 30px 40px;
    border-radius: 18px;
    border: 1px solid orange;
    word-wrap: break-word;
    box-sizing: border-box;
}

.answer {
    background-color: #294a34;
    color: white;
    width: 100%;
    text-align: left;
    padding: 30px 40px;
    border-radius: 18px;
    border: 1px solid orange;
    word-wrap: break-word;
    box-sizing: border-box;
}

.navigation-container {
    display: flex;
    gap: .75vw;
}

.navigation-button {
    background-color: #0053a6;
    color: white;
    border: 1px solid white;
    padding: 8px;
    flex: 1;
}

.navigation-button:hover {
    background-color: #3279c0;
}

.navigation-button:disabled {
    background-color: #03203c;
    color: rgb(128, 126, 126);
    cursor: auto;
}

.prev {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    cursor: pointer;
}

.next {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    cursor: pointer;
}