body {
    background-color: #0e1525;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    margin: 0;
    overflow: auto;
    padding: 0 8px;
}

.view-container {
    /* background-color: yellowgreen; */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center-container {
    /* background-color: green; */
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}