button {
    background-color: transparent;
    color: white;
    height: fit-content;
    padding: 10px;
    border-radius: 1vw;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    cursor: pointer;
}

.top-elements {
    display: flex;
    justify-content: space-between;
}

.nohover {
    pointer-events: none;
}