html,
body {
    background-color: #0e1525;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.start-container {
    background-color: #1c2333;
    /* background-color: red; */
    color: white;
    border: 1px solid orange;
    border-radius: 4vw;
    /* width: 80%; */
    max-width: 550px;
    margin: 0, auto;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 30px;
    align-items: center;
}

.start-container h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 160px;
}

button {
    background-color: #0053a6;
    color: white;
    border: 0.15vw solid white;
    border-radius: 1.2vw;
    font-size: 1.2rem;
    padding: 0.5vw 1vw;
    cursor: pointer;
}

button:hover {
    background-color: #3279c0;
}