body {
    background-color: #0e1525;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    overflow: auto;
}


.border_container {
    background-color: #1c2333;
    /* background-color: red; */
    max-width: 800px;
    color: white;
    border: 2px solid #ffa500;
    border-radius: 4vw;
    display: flex;
    flex-direction: column;
    height: fit-content;
    overflow: hidden;
}

.internal_container {
    /* background-color: red; */
    padding: 32px 64px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: space-around;
}

.pair_container {
    /* background-color: gray; */
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: baseline;
    gap: 10px;
}

.pair_container_left {
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: baseline;
    gap: 10px;
}

.pair_container_right {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: end;
}

select {
    background-color: #D5D2D2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 28px;
    padding: 0px 10px;
}

input {
    background-color: #D5D2D2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    width: 90px;
    height: 28px;
    padding: 0px 10px;
}

input:disabled {
    background-color: #847B7B;
}

.tab_buttons_container {
    background-color: transparent;
    display: flex;
    width: 100%;
    align-items: center;
}

.tab {
    flex: 1;
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: white;
    font-size: 1.2rem;
    padding: 32px 64px;
    cursor: pointer;
}

.tab_active {
    background-color: #1C2A4A;
}

.page {
    display: none;
}

.page.active {
    display: block;
}

hr.hr_horizontal {
    background-color: #D5D2D2;
    height: 1px;
    border: none;
    margin: 0;
    align-self: stretch;
}

hr.hr_vertical {
    background-color: #D5D2D2;
    width: 1px;
    border: none;
    margin: 0;
    align-self: stretch;
}

button {
    background-color: #0053a6;
    color: white;
    border: 1px solid white;
    border-radius: 32px;
    padding: 16px 64px;
    font-size: 1rem;
    cursor: pointer;
}

/* input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #ccc;
    cursor: pointer;
  }

input[type="checkbox"]:checked {
    background-color: #4caf50;
    border-color: #4caf50;
  } */