html,
body {
    background-color: #0e1525;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.settings {
    background-color: #1c2333;
    max-width: 550px;
    padding: 20px;
    border-radius: 32px;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    text-align: center;
}

.settings h1 {
    color: white;
    font-weight: bolder;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.buttons button {
    background-color: #0053a6;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 10px 5px;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: 1px solid white;
}

.buttons button:hover {
    background-color: #3279c0;
}